<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>fucking shitbots every round.</title>
</head>
<body>

    <div class="container-fluid">
        <% if(error) { %>
          <div class="alert alert-danger">	 
                 <h4>
                     Couldn't find Player!
                 </h4> Ayyy sorry bruv couldn't find u. just check if u typed everything in correctly. can happen while tilted
             </div>  
        <% } %>
        <div class="row">
            <div class="col-md-12">
                <h3 class="text-center" style="margin: 100px 0 30px 0;">
                    Valorant Match Making
                </h3>
                <p class="text-center">
                    Let's be honest, VALORANTs Match Making is fucking idiot shit fucked up shit.
                    <br/>
                    So on this site you can review how many times (out of your last 5 ranked games)
                    <br/>
                    you've got the 2 worst players of the whole lobby in your team

                </p>
                
                <div class="row">
                    <div class="col-md-4">
                    </div>
                    <div class="col-md-4">
                        <form action="/results" method="POST">
                                <label for="name" style="margin: 10px 0 0 0;">
                                    Your Name
                                </label>
                                <input required placeholder="centrix" type="text" class="form-control" id="name" name="name"/>
                                <label for="tag" style="margin: 10px 0 0 0;">
                                    Your Tag
                                </label>
                                <input required placeholder="ace" type="text" class="form-control" id="tag" name="tag"/>
    
    
                            <button type="submit" class="btn btn-primary " style="margin: 10px 0 0 0;">
                                Make me tilt
                            </button>
                        </form>
                    </div>
                    <div class="col-md-4">
                    </div>
                </div>
            </div>
        </div>
    </div>

    </div>
  </body>
  </html>
</html>

